# This is a basic workflow to help you get started with Actions

name: Update Fdroid Repo

# Controls when the workflow will run
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '30 1 * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  update:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install F-Droid server software
      run: |
        sudo add-apt-repository -y ppa:fdroid/fdroidserver
        sudo apt-get -y update
        sudo apt-get -y install --no-install-recommends fdroidserver

    - name: Set up repo secrets
      run: |
        mkdir fdroid
        echo "${{ secrets.KEYSTORE_P12 }}" | base64 -d - > fdroid/keystore.p12
        echo "${{ secrets.CONFIG_YML }}" | base64 -d - > fdroid/config.yml

    - name: Download Navit APK's
      run: |
        mkdir fdroid/repo
        cd fdroid/repo
        for tag in $(gh -R navit-gps/navit release list --json tagName -q '.[].tagName'); do gh -R navit-gps/navit release download $tag -p "*.apk"; done
      env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Build repo files
      id: build
      run: |
        cd fdroid
        fdroid update -c

    - name: Upload static files as artifact
      id: deployment
      uses: actions/upload-pages-artifact@v3 # or specific "vX.X.X" version tag for this action
      with:
        path: fdroid/repo

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: update
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
