# This is a basic workflow to help you get started with Actions

name: Update Fdroid Repo

# Controls when the workflow will run
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '30 1 * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  update:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install F-Droid server software
      run: |
        sudo add-apt-repository -y ppa:fdroid/fdroidserver
        sudo apt-get -y update
        sudo apt-get -y install --no-install-recommends fdroidserver

    - name: Set up repo secrets
      run: |
        mkdir -p fdroid
        cd fdroid
        echo "${{ secrets.KEYSTORE_P12 }}" | base64 -d - > keystore.p12
        echo "${{ secrets.CONFIG_YML }}" | base64 -d - > config_env.yml
        yq eval-all '. as $item ireduce ({}; . *+ $item)' config_env.yml config_git.yml > config.yml
        chmod 0600 config.yml


    - name: Download Navit APK's
      run: |
        mkdir -p fdroid/repo
        cd fdroid/repo
        for tag in $(gh -R navit-gps/navit release list --json tagName -q '.[].tagName'); do echo "Start Tag: $tag";gh -R navit-gps/navit release download $tag -p "*.apk" || true; done
        rm *unsigned*.apk
      env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Build repo files
      id: build
      run: |
        pushd fdroid
        fdroid update --create-metadata 
        fdroid update --use-date-from-apk --delete-unknown --rename-apks
        mkdir -p /tmp/fdroid/fdroid
        fdroid deploy --local-copy-dir /tmp/fdroid/fdroid
        cp /tmp/fdroid/fdroid/repo/index.{png,css,html} /tmp/fdroid/fdroid/
        cp /tmp/fdroid/fdroid/repo/index.{png,css,html} /tmp/fdroid/
        popd
        

    - name: Upload static files as artifact
      id: deployment
      uses: actions/upload-pages-artifact@v3 # or specific "vX.X.X" version tag for this action
      with:
        path: /tmp/fdroid

  # Deployment job
  deploy:
    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: update
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
